*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("form_img.jpg");
    background-position: center;
    background-size: cover;
}

.questionPanel{
    padding: 20px 30px;
    background-color: bisque;
}

.btn-des{
    padding: 5px;
    margin-right: 20px;
}

.button-des{
    text-align: center;
}

#score{
    padding: 20px 30px;
    background-color: bisque;
    font-size: 40px;
    font-weight: bold;
}
